<!DOCTYPE html>

<html>

<head>
    <title>Find-A-Pet!</title>
    <link rel="stylesheet" type="text/css" href="../static/css/findapet.css">
</head>

<body>
    <div id="title">
        <p><h1><strong>FIND-A-PET</strong></h1></p>
        <p><h2>Your new buddy awaits!</h2></p>
    </div>
    <div id="form">
        <form action="/results">
            <h3>Do you want your friend to...</h3><br>
            <input type="radio" name="animal" value="cat"><strong id="pet">MEOW</strong>
            <input type="radio" name="animal" value="dog"><strong id ="pet">BARK</strong><br><br>
            Zip code? <input type="text" name="zipcode"><br><br>
            <input type="submit" value="Let's Go!">
        </form>
    </div>

</body>

</html>